<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean id="memberDAO" class="org.kpu.di.persistence.MemberDAOImpl">
	</bean>
	<bean id="memberService" class="org.kpu.di.service.MemberServiceImpl">
	</bean>
	<context:annotation-config />

<!-- 
	<context:component-scan base-package="org.kpu.di.persistence"></context:component-scan>
	<context:component-scan base-package="org.kpu.di.service"></context:component-scan>
-->
</beans>
